<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abp" version="0.11.3.0" targetFramework="net461" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.16.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.16.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.16.0" targetFramework="net461" />
  <package id="Google.Apis.Gmail.v1" version="1.16.0.557" targetFramework="net461" />
  <package id="log4net" version="2.0.3" targetFramework="net461" />
  <package id="Moq" version="4.5.21" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net461" />
  <package id="NUnit" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.Console" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.1" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.Runners" version="3.4.1" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.4.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net461" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net461" />
</packages>