<div ng-controller="app.views.about as vm">
    <div style="text-align:center">
        <img src="~/App/Main/images/doge-god.jpg" style="padding-right: 10px;" />
        <h1>
            @string.Format(L("AboutFormat"), "DogeDaycare")
        </h1>

        <p>DogeDaycare is an ASP.NET Boilerplate based web app for a doggy daycare business.</p>
        <p>@L("ForMoreInformation"): <a href="https://github.com/tjarita/DogeDaycare"><strong>github.com/tjarita/DogeDaycare</strong></a>.</p>
    </div>
</div>