<div ng-controller="app.views.about as vm">
    <div style="text-align:center">
        <img src="~/App/Main/images/doge-god.jpg" />
        <h6>Credit to <a href="http://ry-spirit.deviantart.com/">Ry-Spirit</a></h6>
        <h1>
            About DogeDaycare
        </h1>
        <p>DogeDaycare is an ASP.NET Boilerplate based web app for a doggy daycare business.</p>
        <p>@L("ForMoreInformation"): <a href="https://github.com/tjarita/DogeDaycare"><strong>github.com/tjarita/DogeDaycare</strong></a>.</p>
    </div>
</div>