<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="container-fluid">
        <div class="panel panel-default" ng-controller="app.views.home as vm">

            <div class="panel-heading" style="position:relative">
                <div class="row">

                    <h3 class="panel-title col-xs-6 col-md-4">
                        Welcome to DogeDaycare
                    </h3>


                </div>
            </div>


        </div>
    </div>
</body>
</html>