<div class="container-fluid" ng-controller="app.views.person.new as vm">
    <div class="row">
        <h3 class="panel-title" style="margin-bottom:10px">
            New User Registration
        </h3>
    </div>
    <div class="row">
        <form id="NewPersonForm" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="PersonName" class="control-label">User Name</label>
                </div>
                <div class="col-md-9">
                    <input ng-model="vm.person.name" type="text" class="form-control" id="PersonName" placeholder="Name" />
                </div>
            </div>
            <div class="col-md-2 col-md-offset-5">
                <button ng-click="vm.savePerson()" type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

