<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users Dashboard</title>
</head>
<body>

    <nav role="navigation">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="#/person"><i class="glyphicon glyphicon-home"></i> Home</a></li>
            <li><a href="#/person/new"><i class="glyphicon glyphicon-plus"></i> Register</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-search"></i> Search</a></li>
        </ul>
    </nav>
    <div class="panel panel-default">
        <div class="panel-body">
            <div ui-view></div>
        </div>
    </div>
</body>
</html>
