@model DogeDaycare.Web.Models.Account.ConfirmEmailResultViewModel
@{
    if (Model.Success)
    {
        ViewBag.Title = "Confirmation successful!";
        ViewBag.PanelHeaderText = "Thank you for confirming your account!";
    }
    else
    {
        ViewBag.Title = "Confirmation failed";
        ViewBag.PanelHeaderText = "Sorry! We weren't able to confirm your account.";
    }
}

<div class="container">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>@ViewBag.PanelHeaderText</h4></div>
                <div class="panel-body">
                    @if (Model.Success)
                    {
                        <a href="@(Url.Action("Login","Account"))">Click here to log in</a>
                    }
                    else
                    {
                        <p>Contact us at DogeDaycareDev@gmail.com</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>