@model DogeDaycare.Web.Models.Account.ConfirmEmailResultViewModel
@{
    if (Model.Success)
    {
        ViewBag.Title = "Confirmation succes!";
    }
    else
    {
        ViewBag.Title = "Confirmation failed";
    }
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @if (Model.Success)
            {
                <h1>Thank you for confirming your account! </h1>
                <h2>You can now log into DogeDaycare.</h2>

                <h3><a href="@(Url.Action("Login","Account"))">Click here to log in</a></h3>
            }
            else
            {
                <h1>Confirmation failed ...</h1>
                <h3>Contact us at DogeDaycareDev@gmail.com</h3>
            }
        </div>
    </div>
</div>